# Ignore virtual environment files
Lib/
Scripts/
pyvenv.cfg

# Python temporary files
*.pyc
__pycache__/

# Ignore settings file containing sensitive information
myproject/myproject/settings.py
db.sqlite3